fastapi==0.115.13
uvicorn==0.34.3
python-multipart==0.0.20
yt-dlp==2024.3.10
aiohttp==3.9.3
openai-whisper==20240320
python-dotenv==1.1.0
pydantic==2.11.7
httpx==0.28.1
ffmpeg-python==0.2.0
firebase-admin==6.9.0
cloudinary==1.44.1
jiter==0.10.0
